<html>
    <body>
        <table border="1" width="100%">
            <tr>
                <td><h1>JEVIN VIRADIYA</h1></td>
            </tr>
            <tr>
                <td>
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </td>
            </tr>
            <tr>
                <td>
                        {% block mycontent %}
                        {% endblock %}
                        {% block mycontant1 %}
                        {% endblock %}
                </td>
            </tr>
            <tr>
                <td>website developed by  jevin viradiya</td>
            </tr>
        </table>
    </body>
</html>